.auth__input {
    width: 100%;
    font-size: 14px;
    color: white;
    border: none;
    font-weight: 400;
    background-color: transparent;
    border-bottom: 2px solid white;
    padding-bottom: 13px;
}

.auth__input:first-of-type {
    margin-bottom: 30px;
}